.preloader {
  height: 100vh;
  width: 100%;
  background: #000;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
  will-change: transform; 
}
.preloader.hidden {
  animation: wipe-up 1.3s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.texts-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.texts-container span {
  font-size: 1.7rem;
  font-weight: 800;
  margin: 0 3px;
  opacity: 0;
  transform: translateY(50px); 
  transition: opacity 1.8s ease, transform 1.8s ease;
}
.texts-container span:nth-child(3) {
  color: red;
}
.texts-container span.show {
  opacity: 1;
  transform: translateY(0);
}

@keyframes wipe-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

@media screen and (max-width: 1024px) {
  .texts-container {
    flex-direction: column;
    gap: 15px;
    padding-bottom: 10rem;
  }
}