.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
  padding: 2rem;
  overflow: visible; 
}
.projects-header {
  margin-top: -6rem;
}
.projects-heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.light-theme .project-card {
  background-color: #ffffff;
  color: #1c1c1c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease;}
.dark-theme .project-card {
  background-color: #2a2a2a;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.6s ease;
}

.project-card {
  position: relative; 
  overflow: visible; 
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; 
}
.project-card:hover {
  transform: scale(1.05); 
  transition: transform 0.2s ease, box-shadow 0.2s ease; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
  border: 0.2rem solid #f5427d; 
}
.project-image {
  border-radius: 0.33rem;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.os-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 1;
}
.os-icon img {
  width: 100%;
  height: 100%;
}
.os-icon-tooltip {
  display: none;
  position: absolute;
  top: 0px; 
  right: 50%; 
  transform: translateX(50%);
  background-color: black;
  color: white;
  padding: 5px 8px;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  white-space: nowrap;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s ease-in-out;
}
.os-icon-tooltip::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.os-icon:hover + .os-icon-tooltip {
  display: block;
  opacity: 1;
}

.project-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
  justify-content: space-between;
  padding: 0.8rem;
}
.project-title {
  font-size: 1.5rem;
  font-weight: bold;
  min-height: 3rem; 
  margin-bottom: 0.75rem;
}
.project-description {
  flex-grow: 1;
  min-height: 6rem;
  margin-top: -1rem;
  margin-bottom: -0.5rem;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.tag {
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  color: white;
}
.color-html       { background-color: #E34F26; }
.color-css        { background-color: #2965F1; }
.color-javascript { background-color: #F7DF1E; }
.color-python     { background-color: #306998; }
.color-pygame     { background-color: #33ca33; }
.color-c          { background-color: #2D79C7; }
.color-cpp        { background-color: #00599C; }
.color-node-js    { background-color: #3C873A; }
.color-sqlite     { background-color: #6D6E71; }
.color-sql        { background-color: #00758F; }
.color-socket-io  { background-color: #272626; }
.color-itunes-api { background-color: #FF3B30; }
.color-express    { background-color: #403b3b; }
.color-react      { background-color: #61DAFB; }
.color-makefile   { background-color: #e87516; }
.color-tensorflow { background-color: #FF6F00; }
.color-numpy      { background-color: #4D77CF; }
.color-pandas     { background-color: #150458; }
.color-qt         { background-color: #32C4CC; }
.color-qt-runner  { background-color: #2D79C7; }

.project-links {
  display: flex;
  justify-content: center;
  padding-top: 0.1rem;
  gap: 0.5rem;
}
.project-links .icon {
  width: 3rem;
  height: 3rem;
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.2s ease;
}
.project-links .icon:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
}
.no-github .github-icon {
  cursor: not-allowed;
  filter: grayscale(100%);
  pointer-events: none; 
  transform: none; 
  transition: none;
}
.no-youtube .youtube-icon {
  cursor: not-allowed; 
  filter: grayscale(100%); 
  pointer-events: none;
  transform: none; 
  transition: none; 
}
.disabled-icon .icon:hover {
  transform: scale(1);
  cursor: not-allowed;
  filter: grayscale(100%);
}

@media (max-width: 1280px) and (min-width: 720px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr); 
    padding: 1rem;
  }
  .project-card {
    transform: scale(0.9); 
    height: auto; 
  }
  .project-image {
    height: 180px; 
  }
}

@media (max-width: 720px) {
  .projects-container {
    grid-template-columns: 1fr; 
    padding: 2rem 1rem;
  }
  .project-image {
    height: 160px;
  }
}

@media (max-width: 480px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
  .project-image {
    height: 150px;
  }
}